/* Dita o tamanho do container preto */
.novaVagaContainer{
    width: 75vw;
    float: right;
    padding: 2rem 0 0 1rem;
    display: flex;
    min-height: 86vh;
}

/* Conteudo do container preto */
.contentNovaVagaContainer{
    background: var(--black);
    color: var(--white);
    box-shadow: -9px -5px 26px -2px rgba(0,0,0,0.36);
    border: 1px solid var(--principal);

    border-radius: 8px 0 0 0;
    height: 82vh;
    width: 100%;
    padding-top: 4rem;

    display: flex;
    flex-direction: column;
    align-items: center;
}

/*Div do formulário*/
.divForm{
    width: 80%;
}

/*Div que separa os inputs em duas colunas*/
.divInputs{
    display: flex;
    flex-direction: row;
}

/*Estilização da coluna da esquerda*/
.infos:first-child{
    padding-top: 20px;
}

/*Div coluna de input*/
.infos{
    display: flex;
    flex-direction: column;
    width: 45%;
}

/*Label dos inputs*/
.infos label{
    font-size: 1rem;
    margin-bottom: 0.5rem;
}

/*Inputs*/
.infos input{
    height: 2rem;
    outline: none;
    background-color: #262626;
    border-radius: 8px;
    color: var(--white);
    padding-left: 0.5rem;
    width: 16rem;

    margin-bottom: 1.5rem;
}

/*textarea*/
.infos textarea{
    height: 2rem;
    outline: none;
    background-color: #262626;
    border-radius: 8px;
    color: var(--white);
    padding-left: 0.5rem;
    width: 16rem;

    margin-bottom: 1.5rem;
}

/*UF*/
.uf{
    width: 6ch;
    margin-bottom: 1.5rem;
    height: 2rem;
    outline: none;
    border-radius: 8px;

    background-color: #262626;
    color: var(--white);
}

/*Div dos Botões*/
.divBtns{
    display: flex;
    justify-content: space-around;
    width: 60%;
}

/*Botão de Limpar o Form*/
.resetBtn{
    color: var(--principal);
    background: var(--black);
    border: 3px solid var(--principal);
    transition: 0.5;
}

.resetBtn:hover{
    opacity: 0.5;
}

/*Botão de criar vaga*/
.submitBtn{
    background: var(--principal);
    color: var(--white);
    opacity: 1;
}

.submitBtn:hover{
    opacity: 0.8;
}

