* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

:root {
  --white: #fff;
  --background: #efffff;
  --principal: #56b894;
  --black: #000501;
  --blue: #197bbd;
  --red: #ff0000;
}

a{
  text-decoration: none;
  color: var(--white);
}

@media(max-width: 1080px) {
  html {
    /*
      16px
    */
    font-size: 100%;
  }
}
@media(max-width: 720px) {
  html {
    /*
      14px
    */
    font-size: 87.5%;
  }
}

body {
  font: 400 1rem "Inter", sans-serif;
  background: var(--background);
}

button{
  border: none;
  padding: 0.5rem 2.5rem;
  font-size: 1.5rem;
  font-weight: 700;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.5s;

  display: flex;
  justify-content: center;
  align-items: center;
}


